ListView {
    /*do note that lack of height causes refresh to not work*/
    height: 200px;
    flex-grow: 1;
}

.main-container {
    flex-grow: 1;
}

.top-controls {
    flex-direction: row;
}

Label#status {
    flex-grow: 1;
    -unity-text-align: upper-right;
}
