ToolbarMenu {
    padding: 2px 4px 0px 4px;
    flex-direction: row;
}

.toolbar-menu-arrow {
    background-image: url("ToolbarMenuArrow.psd");
    align-self: center;
    width: 12px;
    height: 12px;
    margin-left: 2px;
}

.toolbar-menu-label {
    -unity-text-align: middle-left;
}
