.language-pack {
    flex-direction: row;
}
.language-pack-details {
    flex-direction: column;
    flex-grow: 1;
}
#status {
    font-size: 10px;
    -unity-font-style: italic;
    display: none;
}
ListView {
    height: 120px;
    margin-top: 4px;
}
